@model List<efcoreModels.blogs>
<h1 style="text-align: center;">blogs by most Viewed</h1>
<div style="display: flex;">    
    @foreach (var blog in Model)
    {
        <div style="padding: 0.5%; margin:0.2%;">
            <form asp-controller="Home" asp-action="ViewBlog" 
            asp-route-id="@blog.blogId"  
            >
            <button type="submit">
            <h1>@blog.title</h1>
            <h2>views: @blog.visits</h2>
            <h3>published on @blog.publishDate.ToString("dd/MM/yyyy")</h3>
            </button>
            </form>
        </div>
    }
</div>
